/* OGNI PAGINA */
.fullscreen .page{
    height: 89vh;
    overflow-y: scroll;
}

/* HOME */
.fullscreen .page#home .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 40px;
}
.fullscreen .page#home .container a {
    margin-top: 30px;
    color: #000;
    text-decoration: none;
}


/* USER */
.fullscreen .page#user {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 7000;
}
.fullscreen .page#user .close {
    position: absolute;
    top: 0;
    left: 0;
    padding: 25px;
}
.fullscreen .page#user .close svg {
    width: 50px;
}
.fullscreen #user .container-fluid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fullscreen #user .row .col{
    padding: 8px 32px;
}
.fullscreen #user .row.input{
    border: 1px solid black;
    border-radius: 8px;
}
.fullscreen #user .row label{
    width: 100px;
}
.fullscreen #user .row input{
	text-align: center;
    text-shadow: none;
    box-shadow: none;
	max-width: 250px;
}
.fullscreen #user .row svg{
    width: 18px;
    height: 18px;
}
.fullscreen #user .row .col-2{
    justify-content: center;
    padding: 0;
}
.fullscreen #user .row .col-7{
    justify-content: center;
    overflow: hidden;
    width: 40px !important;
    height: 20px !important;
}
.fullscreen #user .row .col-7 span{
    overflow: hidden;
}


/* PRENOTAZIONI */
/* SEARCH */
.fullscreen .page#prenotazioni .container-fluid .input-group{
    border: 2px solid #000;
    border-radius: 8px;
    transition:all 0.3s ease;
}
.fullscreen .page#prenotazioni .container-fluid .input-group .placeholder{
    position: absolute;
    padding: 4px 8px;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0);
}
.fullscreen .page#prenotazioni .container-fluid .input-group .placeholder span{
    position: relative;
    background-color: rgba(0, 0, 0, 0);
}
.fullscreen .page#prenotazioni .container-fluid .input-group:focus-within{
    border: 2px solid var(--primary);
    padding: 4px 8px;
}
.fullscreen .page#prenotazioni .container-fluid .input-group .input-search{
    border: 0;
}
.fullscreen .page#prenotazioni .container-fluid .input-group .input-group-text{
    border: 0;
}

/* FILTER */
.fullscreen #filter {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.fullscreen #filter .vuoto {
    height: 40vh;
} .fullscreen #filter .container-fluid {
    position: absolute;
    height: 60vh;
    z-index: 5001;
    border-radius: 8px 8px 0px 0px;
    border-top: 2px solid black;
    background-color: #fff;
}
.fullscreen #filter .container-fluid span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 32px;
    padding: 20px;
}
.fullscreen #filter .container-fluid .field {
    margin-top: 30px;
}

/* CANALI */
.fullscreen #filter .container-fluid .field.canali {
    width: 100%;
    margin-top: 0;
}
.fullscreen #filter .container-fluid .field.canali select{
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding: 8px 64px;
    border: 0;
}

/* DATE */
.fullscreen #filter .container-fluid .field.date {
    width: 100%;
}
.fullscreen #filter .container-fluid .field.date span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-size: 18px;
}
.fullscreen #filter .container-fluid .field.date input{
    width: 100%;
    text-align: center;
    border: 0;
}

/* CATEGORIE */
.fullscreen #filter .container-fluid .field.filtradata {
    width: 100%;
}
.fullscreen #filter .container-fluid .field.filtradata select{
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding: 8px ;
    border: 0;
}
/* ELIMINATE */
.fullscreen #filter .container-fluid .field.filtraeliminate label{
    font-size: 32px;
}
.fullscreen #filter .container-fluid .field.filtraeliminate #filter_filtraeliminate{
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30px;
    width: 60px;
    padding: 0;
    margin: 0;
}

/* ELENCO */
.fullscreen .page#prenotazioni .container-fluid#elenco{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    padding: 0;
}
/* LOADING */
.fullscreen .page#prenotazioni #elenco .loading{
    justify-content: center;
    align-items: center;
    margin-top: 160px;
}
/* IMPOSTAZIONI DI OGNI PRENOTAZIONE */
.fullscreen .page#prenotazioni #elenco .prenotazione{
    width: 100%;
    max-width: 400px;
    position: relative;
    height: fit-content;
    border-top: 1px solid #000;
}
.fullscreen .page#prenotazioni #elenco .prenotazione.eliminata {
    color: #F00;
    text-decoration: line-through;
}
.fullscreen .page#prenotazioni #elenco .prenotazione:nth-last-child(2){
    border-bottom: 1px solid #000;
}
/* DATA PRENOTAZIONE */
.fullscreen .page#prenotazioni #elenco .prenotazione .dataprenotazione{
    position: relative;
    top: 1vh;
    width: 100px;
    text-align: center;
    font-size: 11px;
}
/* CLIENTE */
.fullscreen .page#prenotazioni #elenco .prenotazione .cliente{
    position: relative;
    top: 2vh;
    left: 0.5em;
    width: 200px;
    height: 7vh;
    font-size: 16px;
}
/* CANALE */
.fullscreen .page#prenotazioni #elenco .prenotazione .canale{
    position: relative;
    top: 100%;
    left: 4em;
    width: 200px;
    font-size: 16px;
}

/* STAGIONE E PERIODO */
.fullscreen .page#prenotazioni #elenco .prenotazione .stagione_periodo{
    position: absolute;
    top: 1vh;
    right: .5em;
}
/* STAGIONE */
.fullscreen .page#prenotazioni #elenco .prenotazione .stagione_periodo .stagione-group{
    position: relative;
    font-size: 14px;
    text-align: center;
}
/* PERIODO */
.fullscreen .page#prenotazioni #elenco .prenotazione .stagione_periodo .periodo-group {
    position: relative;
    font-size: 12px;
    text-align: center;
}

/* CAMERE E NOTTI */
.fullscreen .page#prenotazioni #elenco .prenotazione .camere_notti{
    position: absolute;
    top: 8vh;
    right: 1em;
}
/* CAMERE */
.fullscreen .page#prenotazioni #elenco .prenotazione .camere_notti .camere-group{
    position: relative;
    margin-right: .25em;
    display: inline-flex;
}
.fullscreen .page#prenotazioni #elenco .prenotazione .camere_notti .camere-group .icona{width: 25px;} 
.fullscreen .page#prenotazioni #elenco .prenotazione .camere_notti .camere-group .testo{margin: 3px;font-size: 16px;}
/* NOTTI */
.fullscreen .page#prenotazioni #elenco .prenotazione .camere_notti .notti-group {
    position: relative;
    margin-left: .25em;
    display: inline-flex;
}
.fullscreen .page#prenotazioni #elenco .prenotazione .camere_notti .notti-group .icona{width: 25px;} 
.fullscreen .page#prenotazioni #elenco .prenotazione .camere_notti .notti-group .testo{margin: 3px;font-size: 16px;}

/* INDICE */
.fullscreen .page#prenotazioni #elenco .indice {
    margin-top: 20px;
    margin-bottom: 2px;
    display: inline-flex;
}
.fullscreen .page#prenotazioni #elenco .indice .arrow-left {
    width: 20px;
    margin-right: 1em;
}
.fullscreen .page#prenotazioni #elenco .indice .number {
    font-size: 18px;
}
.fullscreen .page#prenotazioni #elenco .arrow-right {
    width: 20px;
    margin-left: 1em;
}

/* DISPONIBILITA */
.fullscreen .page#disponibilita {
    height: 100%;
}
.fullscreen .page#disponibilita .header {
    width: 100%;
    font-size: 20px;
    margin-top: 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.fullscreen .page#disponibilita .header .container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.fullscreen .page#disponibilita .header .container-fluid .arrow-left{
    align-items: center;
    margin-right: 30px;
}
.fullscreen .page#disponibilita .header .container-fluid .arrow-right{
    align-items: center;
    margin-left: 30px;
}
.fullscreen .page#disponibilita .header .container-fluid svg{
    width: 20px;
    height: 20px;
}
.fullscreen .page#disponibilita .header .container-fluid span.trn{
    font-size: 40px;
}
.fullscreen .page#disponibilita .header .container-fluid .data {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 8px;
}
.fullscreen .page#disponibilita .header .container-fluid .data .mese {
    position: relative;
    width: 110px;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fullscreen .page#disponibilita .header .container-fluid .data .mese span.trn{
    font-size: 20px;
}
.fullscreen .page#disponibilita .header .data .anno {
    position: relative;
    width: 60px;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullscreen .page#disponibilita .header .container-fluid .gruppo {
    width: 300px;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.fullscreen .page#disponibilita .header .container-fluid .gruppo .input{
    background-color: seagreen;
    width: 100%;
    height: 8vh;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.fullscreen .page#disponibilita .container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
}
.fullscreen .page#disponibilita .container-fluid .calendar{
    border: 1px solid black;
    border-radius: 2px;
    padding: 0;
    margin: 0;
}
.fullscreen .page#disponibilita .container-fluid .calendar .weekdays{
    padding: 0;
    display: inline-flex;
    width: 100%;
}
.fullscreen .page#disponibilita .container-fluid .calendar li{
    display: inline-flex;
    width: 47px;
    height: 8vh;
    margin: 0;
    padding: 0;
    justify-content: center;
}
.fullscreen .page#disponibilita .container-fluid .calendar .weekdays li{
    justify-content: center;
    height: 3.6vh;
}
.fullscreen .page#disponibilita .container-fluid .calendar .days{
    padding: 0;
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
}


/* SETTINGS */
.fullscreen .page#settings .header {
}
.fullscreen .page#settings .header .col-2 svg {

}
.fullscreen .page#settings .header .col-9{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullscreen .page#settings .container-fluid {
    margin-top: 30px;
}


/* NAVBAR */
.fullscreen nav{
    opacity: 1;
    z-index: 5000;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.fullscreen nav ul li a svg{
    width: 32px;
    height: 40px;
    margin-top: 15px;
}
.fullscreen nav ul li label{
	font-size: 10px;
}
.fullscreen nav ul{
	height: auto;
}
.fullscreen nav ul li a svg{
    color: #000;
    transition: 0s all ease;
}
.fullscreen nav ul li a svg.active{
    color: var(--primary);
}
.fullscreen nav ul li a img{
    border: 0;
    transition: 0s all ease;
}
.fullscreen nav ul li a img.active{
    border: 1px solid var(--primary);
}