@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,400,400i,700,700i,900');

body {
    font-family: 'Titillium Web', 'Helvetica', sans-serif;
    margin: 0;
}

:root {
    /** general **/
    --white    : #fff;
    --black    : #000;

    --primary  : #f245a7;
    --secondary: #dc248e;
    --selected : #0077FF;
}
* {box-sizing: border-box;transition: all 0.6s ease-in-out;}


.fullscreen {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
	flex-direction: column;
}

.fullscreen .row {
	text-align: center;
	justify-content: center;
	margin: 0;
}

.fullscreen .header
{
	margin-top: 1em;
}

.fullscreen .header .row .logo {
	max-width: 300px;
}
.fullscreen .header .row .logo img {
	width: 100%;
}

.fullscreen .container#Login {
	text-align: center;
}

.fullscreen .container#Login .row{
	text-align: center;
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align: center;
	margin: 20px;
}

.fullscreen .container#Login .row .title{
	font-size: 3rem;
}

.fullscreen .container#Login .row .field{
	width: 80%;
	max-width: 400px;
	height: 2.5em;
	padding: 2px 22px;
	border-radius: 4px;
	color: var(--black);
	border: 1px solid var(--primary);
	background-color: var(--white);
}
.fullscreen .container#Login .row .field:focus{
	border: 2px solid var(--secondary) !important;
}

.fullscreen .container#Login .row .btn{
	max-width: 400px;
	border-radius: 4px;
	font-size: 1.5em;
	border: 1px solid var(--primary);
	background-color: var(--primary);
}
.fullscreen .container#Login .row .btn:focus{
	border: 2px solid var(--secondary);
	background-color: var(--secondary);
}

.fullscreen .container#Dashboard{
	background-color: #000;
}



.fullscreen nav ul li a svg{
    width: 32px;
    height: 40px;
    margin-top: 15px;
}
.fullscreen nav ul li label{
	font-size: 10px;
}
.fullscreen nav ul{
	height: 10vh;
}
.fullscreen #user .row #user_email{
	text-align: center;
	max-width: 250px;
}